@model E_PROJECT_MANAGER.Models.QuanLyTrangThai

<!-- Model Create Or Update -->
<div class="modal fade bd-example-modal-lg" id="create-or-update-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Quản Lý Trạng Thái</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group row mb-1">
                        <label for="ten-bang" class="col-sm-2 col-form-label">Tên Bảng</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ten-bang" placeholder="Tên bảng" value="@Model.TenBaang">
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label for="ten-trang-thai" class="col-sm-2 col-form-label">Tên Trạng Thái</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ten-trang-thai" placeholder="Tên trạng thái" value="@Model.TenTrangThai">
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label for="gia-tri" class="col-sm-2 col-form-label">Giá Trị</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="gia-tri" placeholder="Giá trị" value="@Model.GiaTri">
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label for="css-class" class="col-sm-2 col-form-label">CSS Class</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="css-class" placeholder="CSS Class" value="@Model.CSSClass">
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label for="sap-xep" class="col-sm-2 col-form-label">Sắp Xếp</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sap-xep" placeholder="Sắp xếp" value="@Model.SapXep">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-save-trang-thai" data-id="@Model.Id">Lưu</button>
            </div>
        </div>
    </div>
</div>


@*@model E_PROJECT_MANAGER.Models.QuanLyLoai

<!-- Model Create Or Update -->
<div class="modal fade bd-example-modal-lg" id="create-or-update-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Quản Lý Loại</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group row mb-1">
                        <label for="ten-loai" class="col-sm-2 col-form-label">Tên Loại</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ten-loai" placeholder="Tên loại" value="@Model.TenLoai">
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label for="gia-tri" class="col-sm-2 col-form-label">Giá Trị</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="gia-tri" placeholder="Giá trị" value="@Model.GiaTri">
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label for="css-class" class="col-sm-2 col-form-label">CSS Class</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="css-class" placeholder="CSS Class" value="@Model.CSSCLass">
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label for="sap-xep" class="col-sm-2 col-form-label">Sắp Xếp</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sap-xep" placeholder="Sắp xếp" value="@Model.SapXep">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-save-loai" loai-id="@Model.Id">Lưu</button>
            </div>
        </div>
    </div>
</div>
*@