@model IEnumerable<E_PROJECT_MANAGER.Models.UngVien>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ỨNG VIÊN</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.GioiTinh)*@
                            Giới Tính
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Tuoi)*@
                            Tuổi Của Bạn
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TenUngVien)*@
                            Tên Của Bạn
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.DiaChi)*@
                            Địa Chỉ 
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ViTriUngTuyen)*@
                            Vị Trí Ứng Tuyển
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.KinhNghiemLamViec)*@
                            Kinh Nghiệm Làm Việc
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TrangThaiId)*@
                            Trạng Thái
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IsDelete)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.NgayXoa)
            </th>*@
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int stt = 0;
        }
@foreach (var item in Model) {
            stt++;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tuoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenUngVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViTriUngTuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KinhNghiemLamViec)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.LoaiId)
            </td>*@
            <td>
                @*@Html.DisplayFor(modelItem => item.TrangThaiId)*@
                    @if (item.TrangThaiId == 1)
                    {
                        <span>Đang tìm</span>
                    }
                    else if (item.TrangThaiId == 2)
                    {
                        <span>Đang phỏng vấn</span>
                    }
                    else if (item.TrangThaiId == 3)
                    {
                        <span>Đang thử việc</span>
                    }
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IsDelete)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.NgayXoa)
            </td>*@
            <td>
                   <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
