@model List<CustomUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var tb = TempData["thanhCong"] as string;
}

<h1>Users</h1>
<i>@(!string.IsNullOrEmpty(tb) ? tb : "")</i>
<div class="tbl">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>UserName</th>
                <th>FullName</th>
                <th>Age</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.UserName</td>
                    <td>@item.FullName</td>
                    <td>@item.Age</td>
                    <td>@item.Email</td>
                    <td>
                        <ul>
                            <li>
                                <a href="javascript:void(0)" class="viewUpdate" data-id ="@item.Id">Update</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="viewRoles" data-id="@item.Id">Set Role</a>
                            </li>
                            <li>Delete</li>
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal" tabindex="-1" role="dialog">
    
</div>
@section scripts{
    <script>
        $('.viewUpdate').off('click').on('click', function(){
            var id = $ (this).attr('data-id');
            $.get("/Users/ViewUpdate?id=" + id, function (response) {
                //dan ma tu partialView => Modal
                $('.modal').html('').html(response);
                //bat modal
                $('.modal').modal('show');
            })
        })

        $('.viewRoles').off('click').on('click', function () {
            var id = $(this).attr('data-id');
            $.get("/Users/viewSetRoles?id=" + id, function (response) {
                //dan ma tu partialView => Modal
                $('.modal').html('').html(response);
                //bat modal
                $('.modal').modal('show');
            })
        })
    </script>
}

