
@using E_PROJECT_MANAGER.Repository
@model int
@inject IViTriTuyenDungRepository viTriTuyenDungRepository
@inject ILichPhongVanRepository lichPhongVanRepository
@{
    var lpv = new LichPhongVan();
    if(Model > 0)
    {
        lpv = lichPhongVanRepository.GetById(Model);
    }
    var viTriTuyenDung = viTriTuyenDungRepository.GetAllItem();
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Hành động</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" 
            data-id="@lpv.Id"
             data-ngay="@(lpv.NgayPhongVan == null ? "" : lpv.NgayPhongVan.Value.ToString("yyyy-MM-dd"))"
             data-start="@(lpv.ThoiGianBatDau == null ? "" : lpv.ThoiGianBatDau.Value.ToString("yyyy-MM-dd hh:mm:ss"))"
             data-end="@(lpv.ThoiGianKetThuc == null ? "" : lpv.ThoiGianKetThuc.Value.ToString("yyyy-MM-dd hh:mm:ss"))"
             data-vttd="@lpv.ViTriTuyenDungId"
             data-uvid="@lpv.UngVienId"
        >
            <div class="form-horizontal">
                
                <div class="form-group row">
                    <label for="ten-lich" class="col-sm-4 col-form-label">Tên lịch PV</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="ten-lich" placeholder="Tên lịch PV">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ngay-pv" class="col-sm-4 col-form-label">Ngày phỏng vấn</label>
                    <div class="col-sm-8">
                        <input type="text" name="ngay-pv" id="ngay-pv" value="" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="range-pv" class="col-sm-4 col-form-label">Thời gian</label>
                    <div class="col-sm-8">
                        <input type="text" name="range-pv" id="range-pv" />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="range-pv" class="col-sm-4 col-form-label">Vị trí tuyển dụng</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="vi-tri-td">
                            @foreach (var item in viTriTuyenDung)
                            {
                                <option value="@item.Id">@item.TenViTriTuyenDung</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    @{
                        //Lam ung vien tuong tu nhu VTTD
                    }
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary save-lich">Lưu</button>
            <button type="button" class="btn btn-primary">Xóa các Event</button>
            <button type="button" class="btn btn-primary">Xem chi tiết lịch</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>