@model E_PROJECT_MANAGER.Models.NhanVienPhuTrachTuyenDung

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NhanVienPhuTrachTuyenDung</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViTriTuyenDungId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViTriTuyenDungId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVienId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhanVienId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThaiId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThaiId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayXoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayXoa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
