@model E_PROJECT_MANAGER.Models.ViTriTuyenDung

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ViTriTuyenDung</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhongBanID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhongBanID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenViTriTuyenDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenViTriTuyenDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Request)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Request)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThaiId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThaiId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayXoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayXoa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
